ai-news/n8n-workflows/workflow-02-linkedin-post.json
{
  "name": "AI News — 02 LinkedIn Post",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "linkedin-post-levcon",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "b2c3d4e5-0002-4000-8000-000000000001",
      "name": "Webhook: LinkedIn Post",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -400,
        400
      ],
      "webhookId": "linkedin-post-levcon-unique-placeholder",
      "notes": "Webhook-Trigger: wird von Workflow 01 aufgerufen.\nPath: linkedin-post-levcon\nMethode: POST\nGibt 200 zurück, sobald der Workflow startet."
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.LEVCON_API_BASE }}/api/ai-news/today",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Levcon-Api-Key",
              "value": "={{ $env.LEVCON_INTERNAL_API_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-4000-8000-000000000002",
      "name": "Fetch Today's News",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -100,
        400
      ],
      "notes": "GET Levcon API: heutige AI-News-Ausgabe (Summary + Items).\nAuth via X-Levcon-Api-Key Header.\nResponse: { date, summaryDe, summaryEn, items[] }"
    },
    {
      "parameters": {
        "jsCode": "// Format LinkedIn post text per template in templates/linkedin-post-template.md\n// Input: item.json = { date, summaryDe, summaryEn, items[] }\n// Output: { postText: string, dateDe: string, dateEn: string }\n\nconst input = items[0].json;\nconst today = input.date || new Date().toISOString().substring(0, 10);\n\n// German date format: \"DD. MMMM YYYY\" (z.B. \"25. Juni 2025\")\nconst DE_MONTHS = ['Januar', 'Februar', 'März', 'April', 'Mai', 'Juni', 'Juli', 'August', 'September', 'Oktober', 'November', 'Dezember'];\nconst d = new Date(today + 'T00:00:00Z');\nconst dateDe = `${d.getUTCDate()}. ${DE_MONTHS[d.getUTCMonth()]} ${d.getUTCFullYear()}`;\n\n// English date format: \"MMMM D, YYYY\"\nconst EN_MONTHS = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];\nconst dateEn = `${EN_MONTHS[d.getUTCMonth()]} ${d.getUTCDate()}, ${d.getUTCFullYear()}`;\n\nconst summaryDe = (input.summaryDe || '').trim();\nconst rawItems = Array.isArray(input.items) ? input.items : [];\n\n// Take max 5 headlines (LinkedIn best practice)\nconst MAX_HEADLINES = 5;\nconst top = rawItems.slice(0, MAX_HEADLINES);\n\nfunction cleanUrl(u) {\n  try {\n    const parsed = new URL(u);\n    ['utm_source', 'utm_medium', 'utm_campaign', 'utm_term', 'utm_content', 'fbclid', 'gclid'].forEach(p => parsed.searchParams.delete(p));\n    let clean = parsed.origin + parsed.pathname;\n    if (parsed.search) clean += parsed.search;\n    return clean;\n  } catch (e) {\n    return u || '';\n  }\n}\n\nfunction truncate(s, maxLen) {\n  if (!s) return '';\n  s = s.trim();\n  if (s.length <= maxLen) return s;\n  return s.substring(0, maxLen - 1).trimEnd() + '…';\n}\n\nconst lines = [];\nlines.push(`KI-News des Tages · ${dateDe}`);\nlines.push('');\nlines.push(summaryDe || 'Heute ein ruhiger Tag in der KI-Welt.');\nlines.push('');\n\nif (top.length === 0) {\n  lines.push('Heute keine nennenswerten Meldungen.');\n} else {\n  top.forEach((item, idx) => {\n    const headline = truncate(item.headline || item.title || '', 200);\n    const source = (item.source || '').trim();\n    const url = cleanUrl(item.sourceUrl || item.url || item.link || '');\n    lines.push(`▸ ${headline}${source ? ' — ' + source : ''}`);\n    if (url) lines.push(`  ${url}`);\n    lines.push('');\n  });\n}\n\nconst siteUrl = ($env && $env.NEXT_PUBLIC_SITE_URL) || 'https://levcon.ai';\nlines.push(`Vollständige Ausgabe mit Kurzzusammenfassungen: ${siteUrl}/#news`);\nlines.push('');\nlines.push('#KI #AI #KünstlicheIntelligenz #Levcon');\n\nlet postText = lines.join('\\n');\n\n// LinkedIn hard limit: 3000 chars for standard posts\nif (postText.length > 3000) {\n  postText = postText.substring(0, 2997) + '...';\n}\n\nreturn [{\n  json: {\n    postText,\n    dateDe,\n    dateEn,\n    headlineCount: top.length,\n    charCount: postText.length\n  }\n}];"
      },
      "id": "b2c3d4e5-0002-4000-8000-000000000003",
      "name": "Format LinkedIn Post",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        400
      ],
      "notes": "Formatiert Post-Text gemäß templates/linkedin-post-template.md.\n- Datum DE: 'DD. MMMM YYYY' (z.B. '25. Juni 2025')\n- Max 5 Headlines (LinkedIn-Best-Practice)\n- Hashtags: #KI #AI #KünstlicheIntelligenz #Levcon\n- Tracking-Parameter werden von URLs entfernt\n- LinkedIn-Limit 3000 Zeichen wird erzwungen"
    },
    {
      "parameters": {
        "resource": "post",
        "operation": "create",
        "author": "={{ $env.LINKEDIN_AUTHOR_URN }}",
        "text": "={{ $json.postText }}",
        "visibility": "PUBLIC",
        "options": {}
      },
      "id": "b2c3d4e5-0002-4000-8000-000000000004",
      "name": "Create LinkedIn Post",
      "type": "n8n-nodes-base.linkedIns",
      "typeVersion": 1,
      "position": [
        540,
        400
      ],
      "notes": "LinkedIn Post erstellen.\n- Resource: Post\n- Operation: Create\n- Visibility: PUBLIC\n- Author URN via $env.LINKEDIN_AUTHOR_URN (Person: 'urn:li:person:XXX' oder Organization: 'urn:li:organization:XXX')\nCredential: 'LinkedIn Levcon' (OAuth2, Scope w_member_social oder w_organization_social)",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "PLACEHOLDER_REPLACE_WITH_LINKEDIN_CREDENTIAL_ID",
          "name": "LinkedIn Levcon"
        }
      }
    },
    {
      "parameters": {},
      "id": "b2c3d4e5-0002-4000-8000-000000000005",
      "name": "On Workflow Error",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -400,
        1000
      ],
      "notes": "Error-Trigger: wird aktiviert, wenn der Hauptflow fehlschlägt."
    },
    {
      "parameters": {
        "fromEmail": "ops@levcon.ai",
        "toEmail": "={{ $env.ALERT_EMAIL }}",
        "subject": "=ALERT: n8n Workflow '02 LinkedIn Post' failed at {{ $now.toISO() }}",
        "text": "=Workflow 'AI News — 02 LinkedIn Post' failed.\n\nExecution ID: {{ $json.execution.id }}\nError message: {{ $json.execution.error.message }}\nError node: {{ $json.execution.lastNodeExecuted }}\nTimestamp: {{ $json.execution.stoppedAt }}\n\nPlease check n8n UI for details:\n{{ $env.N8N_BASE_URL }}/workflow/executions/{{ $json.execution.id }}",
        "options": {}
      },
      "id": "b2c3d4e5-0002-4000-8000-000000000006",
      "name": "Send Alert Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -100,
        1000
      ],
      "notes": "Sendet Alert-Mail an ALERT_EMAIL.\nSMTP-Credential: 'SMTP Levcon'",
      "credentials": {
        "smtp": {
          "id": "PLACEHOLDER_REPLACE_WITH_SMTP_CREDENTIAL_ID",
          "name": "SMTP Levcon"
        }
      }
    }
  ],
  "connections": {
    "Webhook: LinkedIn Post": {
      "main": [
        [
          {
            "node": "Fetch Today's News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Today's News": {
      "main": [
        [
          {
            "node": "Format LinkedIn Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format LinkedIn Post": {
      "main": [
        [
          {
            "node": "Create LinkedIn Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On Workflow Error": {
      "main": [
        [
          {
            "node": "Send Alert Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Vienna"
  },
  "pinData": {},
  "tags": []
}
