ai-news/n8n-workflows/workflow-01-local-llm.json
{
  "name": "AI News — 01 Collect & Curate (Local LLM)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Cron Daily 06:00 Vienna",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -400,
        600
      ],
      "notes": "Täglich 06:00 Europe/Vienna.\nStartet den Curation-Workflow.\nZeitzone wird über Workflow-Settings executionTimezone gesetzt.",
      "notesInFlow": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://heise.de/rss/heise.rdf",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000002",
      "name": "Fetch Heise RSS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -100,
        -300
      ],
      "notes": "DACH-Quelle: Heise — IT, KI, Security"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://rss.golem.de/rss.php?feed=RSS2.0",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000003",
      "name": "Fetch Golem RSS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -100,
        -100
      ],
      "notes": "DACH-Quelle: Golem — IT, KI"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.tagesschau.de/xml/rss2",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000004",
      "name": "Fetch Tagesschau RSS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -100,
        100
      ],
      "notes": "DACH-Quelle: Tagesschau — Allgemein, auch KI"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://rss.sueddeutsche.de/rss/wissen",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000005",
      "name": "Fetch SZ Wissen RSS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -100,
        300
      ],
      "notes": "DACH-Quelle: Süddeutsche Wissen — Wissenschaft, KI"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.technologyreview.com/feed/",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000006",
      "name": "Fetch MIT Tech Review RSS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -100,
        500
      ],
      "notes": "International: MIT Tech Review — KI, Tech (sehr hohe Qualität)"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://feeds.arstechnica.com/arstechnica/features",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000007",
      "name": "Fetch Ars Technica RSS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -100,
        700
      ],
      "notes": "International: Ars Technica — Tech, KI"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.theverge.com/rss/ai-artificial-intelligence/index.xml",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000008",
      "name": "Fetch The Verge AI RSS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -100,
        900
      ],
      "notes": "International: The Verge AI — KI-Fokus"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.anthropic.com/news/rss.xml",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000009",
      "name": "Fetch Anthropic Blog RSS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -100,
        1100
      ],
      "notes": "International: Anthropic Blog — KI-Anbieter"
    },
    {
      "parameters": {
        "jsCode": "// Normalize RSS items to {title, link, source, pubDate, summary}\n// Input: items from RSS HTTP Request nodes (raw XML in item.json.data or item.json.body)\n// Output: flat list of normalized items\n\nconst AI_KEYWORDS = /\\b(AI|KI|ML|LLM|GPT|Claude|neural|model|machine learning|deep learning|generative|transformer|Anthropic|OpenAI|Gemini|Llama)\\b/i;\n\nfunction stripCdata(s) {\n  return s.replace(/<!\\[CDATA\\[([\\s\\S]*?)\\]\\]>/g, '$1');\n}\n\nfunction stripTags(s) {\n  return s.replace(/<[^>]+>/g, '').replace(/\\s+/g, ' ').trim();\n}\n\nfunction sourceFromUrl(rawUrl) {\n  try {\n    const u = new URL(rawUrl);\n    const host = u.hostname.replace(/^www\\./, '');\n    const map = {\n      'heise.de': 'Heise',\n      'rss.golem.de': 'Golem',\n      'golem.de': 'Golem',\n      'tagesschau.de': 'Tagesschau',\n      'sueddeutsche.de': 'Süddeutsche Zeitung',\n      'technologyreview.com': 'MIT Tech Review',\n      'arstechnica.com': 'Ars Technica',\n      'theverge.com': 'The Verge',\n      'anthropic.com': 'Anthropic',\n      'venturebeat.com': 'VentureBeat',\n      'techcrunch.com': 'TechCrunch',\n      'wired.com': 'Wired',\n      'nature.com': 'Nature',\n      'openai.com': 'OpenAI',\n      'huggingface.co': 'Hugging Face',\n      'zdnet.de': 'ZDNet',\n      'derstandard.at': 'Der Standard',\n      'science.apa.at': 'APA Wissenschaft'\n    };\n    return map[host] || host;\n  } catch (e) {\n    return 'Unknown';\n  }\n}\n\nconst normalized = [];\n\nfor (const item of items) {\n  const xml = (typeof item.json === 'string') ? item.json\n    : (item.json.data || item.json.body || item.json.content || '');\n\n  // Track source from request URL if available\n  const requestUrl = item.json.url || item.json.requestUrl || '';\n  const fallbackSource = sourceFromUrl(requestUrl);\n\n  // Match <item>...</item> (RSS/RDF) or <entry>...</entry> (Atom)\n  const itemRegex = /<(?:item|entry)[\\s\\S]*?>([\\s\\S]*?)<\\/(?:item|entry)>/g;\n  let match;\n  while ((match = itemRegex.exec(xml)) !== null) {\n    const block = match[1];\n\n    const titleM = block.match(/<title[^>]*>([\\s\\S]*?)<\\/title>/);\n    const title = titleM ? stripTags(stripCdata(titleM[1])) : '';\n\n    const linkM = block.match(/<link[^>]*?href=\"([^\"]+)\"[^>]*\\/?\\s*>/) || block.match(/<link[^>]*>([\\s\\S]*?)<\\/link>/);\n    const link = linkM ? (linkM[1] || '').trim() : '';\n\n    const pubM = block.match(/<pubDate[^>]*>([\\s\\S]*?)<\\/pubDate>/) || block.match(/<published[^>]*>([\\s\\S]*?)<\\/published>/) || block.match(/<updated[^>]*>([\\s\\S]*?)<\\/updated>/);\n    const pubDate = pubM ? pubM[1].trim() : new Date().toISOString();\n\n    const descM = block.match(/<description[^>]*>([\\s\\S]*?)<\\/description>/) || block.match(/<summary[^>]*>([\\s\\S]*?)<\\/summary>/);\n    let summary = descM ? stripTags(stripCdata(descM[1])) : '';\n    if (summary.length > 300) summary = summary.substring(0, 297) + '...';\n\n    const source = sourceFromUrl(link) === 'Unknown' ? fallbackSource : sourceFromUrl(link);\n\n    // Filter: KI/AI relevance (title or summary must contain a keyword)\n    if (title && link && (AI_KEYWORDS.test(title) || AI_KEYWORDS.test(summary))) {\n      normalized.push({\n        json: {\n          title,\n          link,\n          source,\n          pubDate,\n          summary,\n          origin: 'rss'\n        }\n      });\n    }\n  }\n}\n\nreturn normalized;"
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000010",
      "name": "Normalize RSS Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        400
      ],
      "notes": "Erwartet alle Items der 8 RSS-Fetch-Nodes als kombinierten Input.\nParst XML, filtert nach KI-Relevanz (Keywords), normalisiert Struktur."
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://127.0.0.1:8888/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "AI KI news today {{ $today.toFormat('yyyy-MM-dd') }}"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "categories",
              "value": "news,it"
            },
            {
              "name": "time_range",
              "value": "day"
            },
            {
              "name": "results_on_page",
              "value": "15"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000011",
      "name": "Web Search (SearXNG)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -100,
        1500
      ],
      "notes": "Ruft z-ai Web Search API auf.\nAPI-Key via $env.ZAI_API_KEY (Header Authorization: Bearer ...).\nErgänzt RSS-Feeds um tagesaktuelle Themen."
    },
    {
      "parameters": {
        "jsCode": "// Normalize SearXNG results to match RSS item format\nconst searchResponse = items[0].json;\nconst results = searchResponse.results || [];\n\nconst normalized = results.map(r => ({\n  json: {\n    title: r.title || '',\n    link: r.url || '',\n    source: new URL(r.url || 'https://unknown.com').hostname.replace('www.', ''),\n    pubDate: new Date().toISOString(),\n    summary: r.content || ''\n  }\n}));\n\nreturn normalized;"
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000012",
      "name": "Normalize Search Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        1500
      ],
      "notes": "Normalisiert z-ai Web-Search-Ergebnisse auf gleiche Struktur wie RSS-Items."
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000013",
      "name": "Merge RSS + Search",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        520,
        800
      ],
      "notes": "Kombiniert normalisierte RSS-Items (Input 1) mit normalisierten Web-Search-Items (Input 2)."
    },
    {
      "parameters": {
        "jsCode": "// Dedupe items by URL (normalized: strip trailing slash, query params utm_*, fbclid, gclid)\n// Also dedupe by title-similarity (lowercase, trim, first 80 chars)\n\nfunction normalizeUrl(u) {\n  try {\n    const parsed = new URL(u);\n    // Strip tracking params\n    ['utm_source', 'utm_medium', 'utm_campaign', 'utm_term', 'utm_content', 'fbclid', 'gclid', 'mc_cid', 'mc_eid'].forEach(p => parsed.searchParams.delete(p));\n    let clean = parsed.origin + parsed.pathname;\n    if (parsed.search) clean += parsed.search;\n    return clean.replace(/\\/$/, '').toLowerCase();\n  } catch (e) {\n    return (u || '').toLowerCase().trim();\n  }\n}\n\nconst seenUrl = new Set();\nconst seenTitle = new Set();\nconst deduped = [];\n\nfor (const item of items) {\n  const url = normalizeUrl(item.json.link);\n  const titleKey = (item.json.title || '').toLowerCase().replace(/[^a-z0-9\\s]/g, '').trim().substring(0, 80);\n\n  if (seenUrl.has(url) || seenTitle.has(titleKey)) continue;\n  seenUrl.add(url);\n  seenTitle.add(titleKey);\n  deduped.push(item);\n}\n\nreturn deduped;"
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000014",
      "name": "Dedupe by URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        800
      ],
      "notes": "Dedupliziert Items nach normalisierter URL und Titel-Ähnlichkeit.\nEntfernt Tracking-Parameter (utm_*, fbclid, gclid)."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:11434/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"qwen2.5:1.5b\",\n  \"stream\": false,\n  \"options\": {\n    \"temperature\": 0.3,\n    \"num_predict\": 2000\n  },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an AI news curator. Select the top 5-10 most relevant KI/AI news items from the input. Provide a German summary (3-5 sentences) and an English summary. For each item provide: original headline, German description (1-2 sentences), English description, source name, source URL.\\n\\nReturn strictly JSON in this shape:\\n{\\n  \\\"summaryDe\\\": \\\"...\\\",\\n  \\\"summaryEn\\\": \\\"...\\\",\\n  \\\"items\\\": [\\n    {\\n      \\\"headline\\\": \\\"...\\\",\\n      \\\"descriptionDe\\\": \\\"...\\\",\\n      \\\"descriptionEn\\\": \\\"...\\\",\\n      \\\"source\\\": \\\"...\\\",\\n      \\\"sourceUrl\\\": \\\"...\\\"\\n    }\\n  ]\\n}\\n\\nIMPORTANT: Return ONLY the JSON object. No markdown, no code blocks, no explanations.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify('Today\\'s collected AI news items (JSON array):\\n' + JSON.stringify(items.map(i => ({ title: i.json.title, link: i.json.link, source: i.json.source, pubDate: i.json.pubDate, summary: i.json.summary })), null, 2)) }}\n    }\n  ]\n}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000015",
      "name": "LLM Curation (Ollama)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        800
      ],
      "notes": "Ruft z-ai LLM Chat Completions Endpoint auf.\nCredential 'z-ai LLM' (Header Auth, Authorization: Bearer ...).\nSystem-Prompt: Kuratiere Top 5-10 KI/AI News, gib DE+EN Summary + Items als JSON zurück.",
      "credentials": {
        "httpHeaderAuth": {
          "id": "PLACEHOLDER_REPLACE_WITH_z-ai_LLM_CREDENTIAL_ID",
          "name": "z-ai LLM"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract content from LLM response (handles both Ollama and z-ai format)\nconst response = items[0].json;\nlet content;\n\nif (response.message && response.message.content) {\n  // Ollama format: { message: { content: \"...\" } }\n  content = response.message.content;\n} else if (response.choices && response.choices[0] && response.choices[0].message) {\n  // z-ai/OpenAI format: { choices: [{ message: { content: \"...\" } }] }\n  content = response.choices[0].message.content;\n} else if (response.response) {\n  // Ollama generate format: { response: \"...\" }\n  content = response.response;\n} else {\n  content = JSON.stringify(response);\n}\n\n// Clean content: remove markdown code blocks if present\ncontent = content.replace(/```json\\n/g, '').replace(/```\\n/g, '').replace(/```/g, '').trim();\n\n// Parse JSON\nlet parsed;\ntry {\n  parsed = JSON.parse(content);\n} catch (e) {\n  // Try to extract JSON from text (fallback)\n  const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    try {\n      parsed = JSON.parse(jsonMatch[0]);\n    } catch (e2) {\n      throw new Error('Failed to parse LLM response as JSON: ' + content.substring(0, 200));\n    }\n  } else {\n    throw new Error('No JSON found in LLM response: ' + content.substring(0, 200));\n  }\n}\n\n// Validate structure\nif (!parsed.summaryDe || !parsed.items || !Array.isArray(parsed.items)) {\n  throw new Error('Invalid LLM response structure: missing summaryDe or items array');\n}\n\nreturn [{ json: parsed }];"
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000016",
      "name": "Parse LLM JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        800
      ],
      "notes": "Extrahiert JSON aus LLM-Antwort (auch aus Code-Fences).\nValidiert Shape (summaryDe, summaryEn, items[]).\nFügt Position-Index und aktuelles Datum hinzu."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LEVCON_API_BASE }}/api/ai-news/internal/ingest",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Levcon-Api-Key",
              "value": "={{ $env.LEVCON_INTERNAL_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ date: $json.date, summaryDe: $json.summaryDe, summaryEn: $json.summaryEn, items: $json.items }) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000017",
      "name": "POST to Levcon Ingest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1560,
        800
      ],
      "notes": "POST an Levcon Internal Ingest Endpoint.\nAuth via X-Levcon-Api-Key Header (env LEVCON_INTERNAL_API_KEY).\nBody: { date, summaryDe, summaryEn, items[] }"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_BASE_URL }}/webhook/linkedin-post-levcon",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ date: $json.date, triggeredBy: 'workflow-01-collect-and-curate' }) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000018",
      "name": "Trigger LinkedIn Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1820,
        500
      ],
      "notes": "Triggert Workflow 02 (LinkedIn Post) via Webhook.\nURL-Platzhalter: $env.N8N_BASE_URL + Pfad 'linkedin-post-levcon'"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_BASE_URL }}/webhook/newsletter-daily",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ date: $json.date, triggeredBy: 'workflow-01-collect-and-curate' }) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000019",
      "name": "Trigger Newsletter Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1820,
        1100
      ],
      "notes": "Triggert Workflow 03 (Newsletter Daily) via Webhook.\nURL-Platzhalter: $env.N8N_BASE_URL + Pfad 'newsletter-daily'"
    },
    {
      "parameters": {},
      "id": "a1b2c3d4-0001-4000-8000-000000000020",
      "name": "On Workflow Error",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -400,
        1900
      ],
      "notes": "Error-Trigger: wird aktiviert, wenn der Hauptflow fehlschlägt."
    },
    {
      "parameters": {
        "fromEmail": "ops@levcon.ai",
        "toEmail": "={{ $env.ALERT_EMAIL }}",
        "subject": "=ALERT: n8n Workflow '01 Collect & Curate' failed at {{ $now.toISO() }}",
        "text": "=Workflow 'AI News — 01 Collect & Curate' failed.\n\nExecution ID: {{ $json.execution.id }}\nError message: {{ $json.execution.error.message }}\nError node: {{ $json.execution.lastNodeExecuted }}\nTimestamp: {{ $json.execution.stoppedAt }}\n\nPlease check n8n UI for details:\n{{ $env.N8N_BASE_URL }}/workflow/executions/{{ $json.execution.id }}",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000021",
      "name": "Send Alert Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -100,
        1900
      ],
      "notes": "Sendet Alert-Mail an ALERT_EMAIL.\nSMTP-Credential: 'SMTP Levcon'",
      "credentials": {
        "smtp": {
          "id": "PLACEHOLDER_REPLACE_WITH_SMTP_CREDENTIAL_ID",
          "name": "SMTP Levcon"
        }
      }
    }
  ],
  "connections": {
    "Cron Daily 06:00 Vienna": {
      "main": [
        [
          {
            "node": "Fetch Heise RSS",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Golem RSS",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Tagesschau RSS",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch SZ Wissen RSS",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch MIT Tech Review RSS",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Ars Technica RSS",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch The Verge AI RSS",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Anthropic Blog RSS",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Web Search (z-ai)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Heise RSS": {
      "main": [
        [
          {
            "node": "Normalize RSS Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Golem RSS": {
      "main": [
        [
          {
            "node": "Normalize RSS Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Tagesschau RSS": {
      "main": [
        [
          {
            "node": "Normalize RSS Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch SZ Wissen RSS": {
      "main": [
        [
          {
            "node": "Normalize RSS Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch MIT Tech Review RSS": {
      "main": [
        [
          {
            "node": "Normalize RSS Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Ars Technica RSS": {
      "main": [
        [
          {
            "node": "Normalize RSS Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch The Verge AI RSS": {
      "main": [
        [
          {
            "node": "Normalize RSS Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Anthropic Blog RSS": {
      "main": [
        [
          {
            "node": "Normalize RSS Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize RSS Items": {
      "main": [
        [
          {
            "node": "Merge RSS + Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Web Search (z-ai)": {
      "main": [
        [
          {
            "node": "Normalize Search Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Search Results": {
      "main": [
        [
          {
            "node": "Merge RSS + Search",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge RSS + Search": {
      "main": [
        [
          {
            "node": "Dedupe by URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedupe by URL": {
      "main": [
        [
          {
            "node": "LLM Curation (z-ai)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Curation (z-ai)": {
      "main": [
        [
          {
            "node": "Parse LLM JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LLM JSON": {
      "main": [
        [
          {
            "node": "POST to Levcon Ingest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST to Levcon Ingest": {
      "main": [
        [
          {
            "node": "Trigger LinkedIn Workflow",
            "type": "main",
            "index": 0
          },
          {
            "node": "Trigger Newsletter Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On Workflow Error": {
      "main": [
        [
          {
            "node": "Send Alert Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Vienna"
  },
  "pinData": {},
  "tags": []
}