upload/AI News — 03 Newsletter Send (Local) (1).json
{
  "name": "AI News — 03 Newsletter Send (Local)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "newsletter-daily",
        "authentication": "headerAuth",
        "options": {}
      },
      "id": "073b9251-e1b6-4e22-919e-cc92c948a98f",
      "name": "Webhook: Newsletter Daily",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "webhookId": "newsletter-daily-unique-placeholder",
      "credentials": {
        "httpHeaderAuth": {
          "id": "5xSRYjLkoelQeppG",
          "name": "Levcon Internal API"
        }
      },
      "notes": "Webhook-Trigger für Daily-Versand.\nWird von Workflow 01 aufgerufen.\nPath: newsletter-daily"
    },
    {
      "parameters": {
        "jsCode": "// Set frequency = 'daily' for the downstream subscriber fetch\nreturn [{\n  json: {\n    frequency: 'daily',\n    date: ($json.body && $json.body.date) || new Date().toISOString().substring(0, 10),\n    source: 'webhook'\n  }\n}];"
      },
      "id": "3c74d1ae-9be9-47cd-9198-3031762f6f18",
      "name": "Set Frequency: Daily",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        0
      ],
      "disabled": true,
      "notes": "Markiert diesen Lauf als 'daily'. Wird im Fetch Subscribers als Query-Param verwendet."
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 0"
            }
          ]
        }
      },
      "id": "8d5ca422-8eda-43fb-a478-87ea213aec67",
      "name": "Cron Weekly Sunday 08:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        304
      ],
      "notes": "Cron: jeden Sonntag 08:00 Europe/Vienna.\nTriggert Weekly-Newsletter-Versand."
    },
    {
      "parameters": {
        "jsCode": "// Set frequency = 'weekly' for the downstream subscriber fetch\nreturn [{\n  json: {\n    frequency: 'weekly',\n    date: new Date().toISOString().substring(0, 10),\n    source: 'cron-weekly'\n  }\n}];"
      },
      "id": "87ef0bfc-c9bd-4e71-80cb-43ee6f34fcbd",
      "name": "Set Frequency: Weekly",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        304
      ],
      "disabled": true,
      "notes": "Markiert diesen Lauf als 'weekly'."
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 1 * *"
            }
          ]
        }
      },
      "id": "546453e5-36a2-48c0-9e61-7a76de20822d",
      "name": "Cron Digest 1st of Month 08:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        608
      ],
      "notes": "Cron: 1. des Monats 08:00 Europe/Vienna.\nTriggert Digest-Newsletter-Versand."
    },
    {
      "parameters": {
        "jsCode": "// Set frequency = 'digest' for the downstream subscriber fetch\nreturn [{\n  json: {\n    frequency: 'digest',\n    date: new Date().toISOString().substring(0, 10),\n    source: 'cron-digest'\n  }\n}];"
      },
      "id": "8ebdd2b3-ea43-4826-b95a-ed7b4768e3fe",
      "name": "Set Frequency: Digest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        608
      ],
      "disabled": true,
      "notes": "Markiert diesen Lauf als 'digest' (monatlich)."
    },
    {
      "parameters": {
        "url": "https://levcon.ai/api/ai-news/today",
        "options": {}
      },
      "id": "07466cbe-e153-4179-ad87-17a720ffcb04",
      "name": "Fetch Today News",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        304
      ],
      "notes": "GET Levcon API: heutige AI-News-Ausgabe.\nResponse: { date, summaryDe, summaryEn, items[] }"
    },
    {
      "parameters": {
        "url": "=https://levcon.ai/api/ai-news/internal/subscribers?frequency={{ $json.frequency || \"daily\" }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": []
        },
        "options": {}
      },
      "id": "3b297a77-8914-4bc1-9fc0-29ded4fedd8b",
      "name": "Fetch Subscribers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        928,
        304
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "5xSRYjLkoelQeppG",
          "name": "Levcon Internal API"
        }
      },
      "notes": "GET Subscribers gefiltert nach Frequency (daily/weekly/digest).\nResponse: Liste von { id, email, language, frequency, unsubscribeToken, lastSentDate }.\nFrequency stammt aus vorgelagertem Set-Node."
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n//  RENDER NEWSLETTER HTML (v2 — Sprint 14b+c)\n//\n//  Vereinfachung Sprint 14b:\n//   - Daily/Weekly/Digest senden alle die gleichen TAGESNEWS\n//   - Keine Aggregation mehr (niemand liest News von vor 30 Tagen)\n//   - Weekly/Digest prüfen nur ob heute schon gesendet → falls ja, skip\n//\n//  Verbesserung Sprint 14c:\n//   - Newsletter in 2 Blöcke: EN-Items zuerst, DE-Items danach\n//     (User der /en/ subscribed hat → will EN-News, DE als Bonus)\n//   - Translate-Link bei jedem Item:\n//     - DE-Newsletter + EN-Item → \"Auf Deutsch lesen →\" (Google Translate)\n//     - EN-Newsletter + DE-Item → \"Read in English →\" (Google Translate)\n//   - Summary in Newsletter-Sprache (wie auf der Website)\n//\n//  Input:  items from Fetch Subscribers (ein Item pro Subscriber)\n//  Uses:   $('Fetch Today News').first().json für News-Daten\n//  Output: ein Item pro Subscriber mit email + subject + html + headers\n// ═══════════════════════════════════════════════════════════════\n\n// News-Daten vom \"Fetch Today News\" Node holen.\n// Der Node kann 2 Formate liefern:\n//   1. Direkt: { date, summaryDe, summaryEn, items }\n//   2. Gewrappt: { news: { date, summaryDe, summaryEn, items } }\n// Wir unterstützen beide — robust gegen API-Formatänderungen.\nconst rawNews = $(\"Fetch Today News\").first().json;\nconst news = rawNews?.news || rawNews;\n\nif (!news || !news.items || !Array.isArray(news.items)) {\n  console.log('[Newsletter] ⚠️ Fetch Today News Output:', JSON.stringify(rawNews).substring(0, 500));\n  throw new Error('No news data available from Fetch Today News node. Check if today\\'s news were ingested.');\n}\n\nconst today = news.date || new Date().toISOString().substring(0, 10);\nconst lastSentDate = today;\n\nconst DE_MONTHS = ['Januar','Februar','März','April','Mai','Juni','Juli','August','September','Oktober','November','Dezember'];\nconst EN_MONTHS = ['January','February','March','April','May','June','July','August','September','October','November','December'];\nconst d = new Date(today + 'T00:00:00Z');\nconst dateDe = `${d.getUTCDate()}. ${DE_MONTHS[d.getUTCMonth()]} ${d.getUTCFullYear()}`;\nconst dateEn = `${EN_MONTHS[d.getUTCMonth()]} ${d.getUTCDate()}, ${d.getUTCFullYear()}`;\n\nfunction escapeHtml(s) {\n  return (s || '').toString()\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;')\n    .replace(/\"/g, '&quot;')\n    .replace(/'/g, '&#039;');\n}\n\nfunction cleanUrl(u) {\n  try {\n    const p = new URL(u);\n    ['utm_source','utm_medium','utm_campaign','utm_term','utm_content','fbclid','gclid'].forEach(k => p.searchParams.delete(k));\n    let c = p.origin + p.pathname;\n    if (p.search) c += p.search;\n    return c;\n  } catch (e) {\n    return u || '';\n  }\n}\n\n// Google Translate URL: übersetzt die Original-Seite in die Zielsprache\nfunction translateUrl(originalUrl, targetLang) {\n  return `https://translate.google.com/translate?sl=auto&tl=${targetLang}&u=${encodeURIComponent(originalUrl)}`;\n}\n\n// ═══════════════════════════════════════════════════════════════\n//  ITEM RENDERING (mit Translate-Link)\n// ═══════════════════════════════════════════════════════════════\n\n// Rendert ein Item für DE-Newsletter (deutsche Beschreibung, deutscher Translate-Link)\nfunction itemDe(it) {\n  const headline = escapeHtml(it.headlineDe || it.headline || '');\n  const source = escapeHtml(it.source || '');\n  const url = escapeHtml(cleanUrl(it.sourceUrl || it.url || ''));\n  const desc = escapeHtml(it.descriptionDe || it.summary || '');\n  const itemLang = (it.languageOrig || 'en').toLowerCase();\n\n  // Translate-Link: nur wenn Original-Sprache ≠ Newsletter-Sprache\n  let translateLink = '';\n  if (itemLang !== 'de') {\n    const tUrl = escapeHtml(translateUrl(it.sourceUrl || it.url || '', 'de'));\n    translateLink = ` · <a href=\"${tUrl}\" style=\"color:#b91c1c;\">Auf Deutsch lesen →</a>`;\n  }\n\n  return `<article style=\"margin-bottom:24px;\">\n    <h3 style=\"margin:0 0 4px 0;font-size:16px;font-family:Georgia,'Times New Roman',serif;\">${headline}</h3>\n    <p style=\"margin:0 0 8px 0;font-size:12px;color:#888;\">${source} · <a href=\"${url}\" style=\"color:#b91c1c;\">Weiterlesen →</a>${translateLink}</p>\n    <p style=\"margin:0;font-size:14px;line-height:1.5;\">${desc}</p>\n  </article>`;\n}\n\n// Rendert ein Item für EN-Newsletter (englische Beschreibung, englischer Translate-Link)\nfunction itemEn(it) {\n  const headline = escapeHtml(it.headlineEn || it.headline || '');\n  const source = escapeHtml(it.source || '');\n  const url = escapeHtml(cleanUrl(it.sourceUrl || it.url || ''));\n  const desc = escapeHtml(it.descriptionEn || it.summary || '');\n  const itemLang = (it.languageOrig || 'en').toLowerCase();\n\n  // Translate-Link: nur wenn Original-Sprache ≠ Newsletter-Sprache\n  let translateLink = '';\n  if (itemLang !== 'en') {\n    const tUrl = escapeHtml(translateUrl(it.sourceUrl || it.url || '', 'en'));\n    translateLink = ` · <a href=\"${tUrl}\" style=\"color:#b91c1c;\">Read in English →</a>`;\n  }\n\n  return `<article style=\"margin-bottom:24px;\">\n    <h3 style=\"margin:0 0 4px 0;font-size:16px;font-family:Georgia,'Times New Roman',serif;\">${headline}</h3>\n    <p style=\"margin:0 0 8px 0;font-size:12px;color:#888;\">${source} · <a href=\"${url}\" style=\"color:#b91c1c;\">Read more →</a>${translateLink}</p>\n    <p style=\"margin:0;font-size:14px;line-height:1.5;\">${desc}</p>\n  </article>`;\n}\n\n// ═══════════════════════════════════════════════════════════════\n//  BLOCK STRUKTUR (EN zuerst, DE danach)\n// ═══════════════════════════════════════════════════════════════\n//  Newsletter hat 2 Blöcke:\n//  1. \"AI News International\" — alle EN-Items\n//  2. \"KI-News aus dem DACH-Raum\" — alle DE-Items\n//\n//  User der /en/ subscribed hat → will EN-News primär sehen\n//  DE-Items als Bonus dahinter (mit Translate-Link)\n// ═══════════════════════════════════════════════════════════════\n\nfunction renderDe(news, unsubUrl, dateDe) {\n  const allItems = news.items || [];\n  const enItems = allItems.filter(it => (it.languageOrig || 'en').toLowerCase() === 'en');\n  const deItems = allItems.filter(it => (it.languageOrig || 'en').toLowerCase() === 'de');\n\n  const enBlock = enItems.length > 0\n    ? `<h2 style=\"font-family:Georgia,'Times New Roman',serif;color:#1a1a1a;font-size:14px;font-weight:600;letter-spacing:0.1em;text-transform:uppercase;margin:0 0 16px 0;padding-bottom:8px;border-bottom:1px solid #ccc;\">AI News International</h2>${enItems.map(itemDe).join('')}`\n    : '';\n  const deBlock = deItems.length > 0\n    ? `<h2 style=\"font-family:Georgia,'Times New Roman',serif;color:#1a1a1a;font-size:14px;font-weight:600;letter-spacing:0.1em;text-transform:uppercase;margin:32px 0 16px 0;padding-bottom:8px;border-bottom:1px solid #ccc;\">KI-News aus dem DACH-Raum</h2>${deItems.map(itemDe).join('')}`\n    : '';\n\n  return `<!DOCTYPE html><html lang=\"de\"><head><meta charset=\"utf-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"><title>KI-News · ${escapeHtml(dateDe)}</title></head><body style=\"font-family:-apple-system,'Segoe UI',Roboto,sans-serif;max-width:640px;margin:0 auto;padding:24px;color:#1a1a1a;background:#f0efec;\">\n    <h1 style=\"font-family:Georgia,'Times New Roman',serif;color:#b91c1c;margin:0 0 8px 0;\">KI-News · ${escapeHtml(dateDe)}</h1>\n    <p style=\"font-style:italic;color:#555;line-height:1.5;margin:0 0 24px 0;\">${escapeHtml(news.summaryDe || '')}</p>\n    <hr style=\"border:0;border-top:1px solid #ccc;margin:24px 0;\">\n    ${enBlock}\n    ${deBlock}\n    <hr style=\"border:0;border-top:1px solid #ccc;margin:24px 0;\">\n    <p style=\"font-size:12px;color:#999;\">Levcon.ai · <a href=\"${escapeHtml(unsubUrl)}\" style=\"color:#999;\">Abmelden / Unsubscribe</a></p>\n  </body></html>`;\n}\n\nfunction renderEn(news, unsubUrl, dateEn) {\n  const allItems = news.items || [];\n  const enItems = allItems.filter(it => (it.languageOrig || 'en').toLowerCase() === 'en');\n  const deItems = allItems.filter(it => (it.languageOrig || 'en').toLowerCase() === 'de');\n\n  const enBlock = enItems.length > 0\n    ? `<h2 style=\"font-family:Georgia,'Times New Roman',serif;color:#1a1a1a;font-size:14px;font-weight:600;letter-spacing:0.1em;text-transform:uppercase;margin:0 0 16px 0;padding-bottom:8px;border-bottom:1px solid #ccc;\">AI News International</h2>${enItems.map(itemEn).join('')}`\n    : '';\n  const deBlock = deItems.length > 0\n    ? `<h2 style=\"font-family:Georgia,'Times New Roman',serif;color:#1a1a1a;font-size:14px;font-weight:600;letter-spacing:0.1em;text-transform:uppercase;margin:32px 0 16px 0;padding-bottom:8px;border-bottom:1px solid #ccc;\">KI-News aus dem DACH-Raum</h2>${deItems.map(itemEn).join('')}`\n    : '';\n\n  return `<!DOCTYPE html><html lang=\"en\"><head><meta charset=\"utf-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"><title>AI News · ${escapeHtml(dateEn)}</title></head><body style=\"font-family:-apple-system,'Segoe UI',Roboto,sans-serif;max-width:640px;margin:0 auto;padding:24px;color:#1a1a1a;background:#f0efec;\">\n    <h1 style=\"font-family:Georgia,'Times New Roman',serif;color:#b91c1c;margin:0 0 8px 0;\">AI News · ${escapeHtml(dateEn)}</h1>\n    <p style=\"font-style:italic;color:#555;line-height:1.5;margin:0 0 24px 0;\">${escapeHtml(news.summaryEn || '')}</p>\n    <hr style=\"border:0;border-top:1px solid #ccc;margin:24px 0;\">\n    ${enBlock}\n    ${deBlock}\n    <hr style=\"border:0;border-top:1px solid #ccc;margin:24px 0;\">\n    <p style=\"font-size:12px;color:#999;\">Levcon.ai · <a href=\"${escapeHtml(unsubUrl)}\" style=\"color:#999;\">Unsubscribe</a></p>\n  </body></html>`;\n}\n\n// WICHTIG: In n8n Code-Nodes ist der Zugriff auf $env standardmäßig\n// GESPERRT (Sicherheitsfeature). Deshalb hardcoden wir die URL hier.\n// Falls die URL sich ändert, hier anpassen — oder in n8n Settings\n// \"Allow Environment Variables in Code Node\" aktivieren.\nconst siteUrl = 'https://levcon.ai';\nconst out = [];\n\nfor (const sub of items) {\n  const s = sub.json;\n  const lang = (s.language || 'de').toLowerCase();\n  const unsubToken = s.unsubscribeToken || s.id;\n  const unsubUrl = `${siteUrl}/api/ai-news/unsubscribe?token=${encodeURIComponent(unsubToken)}`;\n\n  // Skip wenn heute schon gesendet (verhindert Doppelversand bei Weekly/Digest)\n  if (s.lastSentDate) {\n    const lastSent = new Date(s.lastSentDate);\n    const todayDate = new Date(today + 'T00:00:00Z');\n    if (lastSent.getTime() === todayDate.getTime()) {\n      console.log(`[Newsletter] Skip ${s.email} — already sent today`);\n      continue;\n    }\n  }\n\n  let html, subject;\n  if (lang === 'en') {\n    html = renderEn(news, unsubUrl, dateEn);\n    subject = `AI News · ${dateEn}`;\n  } else {\n    html = renderDe(news, unsubUrl, dateDe);\n    subject = `KI-News · ${dateDe}`;\n  }\n\n  out.push({\n    json: {\n      email: s.email,\n      subject,\n      html,\n      subscriberId: s.id,\n      subscriberLanguage: lang,\n      listUnsubscribe: `<mailto:news@levcon.ai?subject=Unsubscribe>, <${unsubUrl}>`,\n      listUnsubscribePost: 'List-Unsubscribe=One-Click',\n      lastSentDate\n    }\n  });\n}\n\nconsole.log(`[Newsletter] ${out.length} E-Mails gerendert (${items.length - out.length} skipped wegen lastSentDate)`);\nreturn out;\n"
      },
      "id": "485e7c68-f0ab-4022-9685-de2ff75c80a7",
      "name": "Render Newsletter HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        304
      ],
      "notes": "Erzeugt pro Subscriber ein HTML-Email (DE oder EN).\nVerwendet News-Daten aus 'Fetch Today News' via $('Fetch Today News').first().json.\nBaut List-Unsubscribe Header mit subscriber-spezifischer URL (RFC 8058 One-Click).\nBetreff sprachabhängig: 'KI-News · DD. MMMM YYYY' (DE) oder 'AI News · MMMM D, YYYY' (EN).\nTemplate referenziert templates/newsletter-html-de.html und newsletter-html-en.html (später austauschbar)."
    },
    {
      "parameters": {
        "fromEmail": "Levcon AI News <admin@levcon.at>",
        "toEmail": "={{ $json.email }}",
        "subject": "={{ $json.subject }}",
        "html": "={{ $json.html }}",
        "options": {}
      },
      "id": "cb449dfd-5bfc-4279-b97d-3ba14fa98093",
      "name": "Send Newsletter Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1552,
        304
      ],
      "webhookId": "964351b0-f7db-4e6f-93ca-0302f05554cf",
      "credentials": {
        "smtp": {
          "id": "YLKV9546oq7fWeXi",
          "name": "SMTP account"
        }
      },
      "notes": "SMTP-Versand pro Subscriber-Item (n8n iteriert automatisch).\nFrom: 'Levcon AI News <news@levcon.ai>'\nCustom Headers: List-Unsubscribe + List-Unsubscribe-Post (RFC 8058 One-Click).\nCredential: 'SMTP Levcon'"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://levcon.ai/api/ai-news/internal/subscribers",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=={{ $('Render Newsletter HTML').item.json.subscriberId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=={{ {lastSentDate: $now.toISO()} }}",
        "options": {}
      },
      "id": "1b2e9733-cdae-4975-a3fb-e4f01ba4b23d",
      "name": "Update Subscriber Last Sent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1968,
        304
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "5xSRYjLkoelQeppG",
          "name": "Levcon Internal API"
        }
      },
      "notes": "Nach Versand: PATCH Levcon API um lastSentDate zu aktualisieren.\nStellt sicher, dass jeder Subscriber jede News nur einmal bekommt (auch bei Frequenz-Wechsel).\ncontinueOnFail=true, damit ein fehlgeschlagener Update nicht den gesamten Versand blockiert."
    },
    {
      "parameters": {},
      "id": "64622b1a-fa3e-4021-9476-e767b218480e",
      "name": "On Workflow Error",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        1008
      ],
      "notes": "Error-Trigger: wird aktiviert, wenn der Hauptflow fehlschlägt."
    },
    {
      "parameters": {
        "fromEmail": "admin@levcon.at",
        "toEmail": "=admin@levcon.at",
        "subject": "=ALERT: n8n Workflow '03 Newsletter Send' failed at {{ $now.toISO() }}",
        "options": {}
      },
      "id": "92f8e0bf-8acd-494b-891d-14703dcf5f4a",
      "name": "Send Alert Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        304,
        1008
      ],
      "webhookId": "6b62b29e-1308-4929-84b7-f719e5e534b4",
      "credentials": {
        "smtp": {
          "id": "YLKV9546oq7fWeXi",
          "name": "SMTP account"
        }
      },
      "notes": "Sendet Alert-Mail an ALERT_EMAIL.\nSMTP-Credential: 'SMTP Levcon'"
    },
    {
      "parameters": {
        "jsCode": "// Hole Subscriber-ID und API-Key\n// Die ID kommt aus dem \"Render Newsletter HTML\" Node\nconst subscriberId = $('Render Newsletter HTML').item.json.subscriberId;\n\nif (!subscriberId) {\n  throw new Error('No subscriber ID found in Render Newsletter HTML node');\n}\n\n// PATCH Request an die API\nconst response = await this.helpers.httpRequest({\n  method: 'PATCH',\n  url: 'https://levcon.ai/api/ai-news/internal/subscribers?id=' + subscriberId,\n  headers: {\n    'Content-Type': 'application/json',\n    'X-Levcon-Api-Key': 'f6dab8144e7b1e1a0e8772c05b56446f' // Siehe unten\n  },\n  body: {\n    lastSentDate: new Date().toISOString()\n  },\n  json: true,\n  timeout: 30000\n});\n\nreturn [{ json: { success: true, subscriberId: subscriberId, response: response } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1744,
        304
      ],
      "id": "efe1ba95-96b4-4b93-a145-b3e01cd975d9",
      "name": "Update Subscriber Last Sent ERSATZ, API!"
    },
    {
      "parameters": {
        "jsCode": "// Batch-Sending: Sendet Newsletter an alle Subscriber via SMTP\n// Nutzt this.helpers.httpRequest für SMTP (über n8n's internen SMTP-Helper)\n\nconst allItems = items; // Alle gerenderten Newsletter (eines pro Subscriber)\nconst results = [];\n\nfor (const item of allItems) {\n  try {\n    // n8n's emailSend ist nicht in Code-Nodes verfügbar.\n    // Stattdessen nutzen wir den HTTP-Request zu einem Mail-Endpoint.\n    // Alternative: Nutze den bestehenden \"Send Newsletter Email\" Node\n    // mit \"Execute Once\" = false (für jedes Item).\n    \n    // Da n8n's emailSend nicht in Code verfügbar ist,\n    // geben wir die gerenderten Items einfach weiter an den Email-Node.\n    results.push(item);\n  } catch (error) {\n    console.log(`Error preparing email for ${item.json.email}: ${error.message}`);\n  }\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        304
      ],
      "id": "8c5582e9-7a69-485a-a96e-502f1223412b",
      "name": "Batch Sending"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook: Newsletter Daily": {
      "main": [
        [
          {
            "node": "Set Frequency: Daily",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron Weekly Sunday 08:00": {
      "main": [
        [
          {
            "node": "Set Frequency: Weekly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron Digest 1st of Month 08:00": {
      "main": [
        [
          {
            "node": "Set Frequency: Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Frequency: Daily": {
      "main": [
        [
          {
            "node": "Fetch Today News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Frequency: Weekly": {
      "main": [
        [
          {
            "node": "Fetch Today News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Frequency: Digest": {
      "main": [
        [
          {
            "node": "Fetch Today News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Today News": {
      "main": [
        [
          {
            "node": "Fetch Subscribers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Subscribers": {
      "main": [
        [
          {
            "node": "Render Newsletter HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render Newsletter HTML": {
      "main": [
        [
          {
            "node": "Batch Sending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Newsletter Email": {
      "main": [
        [
          {
            "node": "Update Subscriber Last Sent ERSATZ, API!",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On Workflow Error": {
      "main": [
        [
          {
            "node": "Send Alert Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Subscriber Last Sent ERSATZ, API!": {
      "main": [
        [
          {
            "node": "Update Subscriber Last Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch Sending": {
      "main": [
        [
          {
            "node": "Send Newsletter Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "versionId": "ac1cee7c-9ee1-44e0-a6f1-d618b1b4dad7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b2d1feb950fa85b8badf7148ff879f99d71c58371428240be6f7a49573bef211"
  },
  "id": "W2oAiJWIPaQJ2iyc",
  "tags": []
}